# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store

# Database
*.db



*.pem
terraform.tfvars
terraform.tfstate*
.env
.DS_Store
*.tfvars.json